.layout {
  width: 100dvw;
  height: 100vh;
  /* border: 4px solid white; */
  display: grid;
  grid:
    "header header header" auto
    "leftSide body body" 1fr
    "leftSide footer footer" auto
    / auto 1fr auto;
  gap: 1rem;
  overflow-x: hidden;
}

.header {
  grid-area: header;
  border: 4px solid white;
  border-radius: 2rem;
}
.leftSide {
  border-radius: 2rem;
  border: 4px solid white;
  grid-area: leftSide;
  border-radius: 2rem;
}
.body {
  text-align: start;
  border: 4px solid white;
  grid-area: body;
  border-radius: 2rem;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.body p {
  text-align: start;
}

h3 {
  font-size: 2rem;
  text-decoration: underline;
}

.footer {
  /* position: relative; */
  border: 4px solid white;
  grid-area: footer;
  border-radius: 2rem;
  height: 7rem;
  display: flex;
  align-items: end;
}

.footer .summary {
  padding-left: 45em;
  padding-bottom: 2rem;
}

.footer .summary p {
  display: inline;
}
.footer .summary span {
  padding-left: 4rem;
}

.footer .summary button {
  margin-left: 3rem;
}

form {
  padding: 2rem;
  text-align: center;
  display: inline-block;
}

form input {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  font-family: monospace;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  display: block;
  border: 0px;
  width: 15rem;
  height: 3rem;
}

button {
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.side--btn {
  margin: 20px;
  padding: 10px;
  margin-top: 5rem;
  width: 15rem;
}

@media (max-width: 600px) {
  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  form > * {
    flex: 1 1 160px;
  }

  form input {
    height: 5rem;
    margin-bottom: 0;
  }
  .side--btn {
    margin-top: 1.5rem;
  }

  .layout {
    grid:
      "header header" auto
      "leftSide leftSide"
      "body body" 1fr
      "footer footer" auto
      / auto 1fr auto;
  }

  .body {
    padding: 1rem 3rem;
  }

  .footer .summary {
    padding-left: 15rem;
    padding-bottom: 1.5rem;
  }

  .footer .summary span {
    padding-left: 3rem;
  }

  .footer .summary button {
    margin-left: 3rem;
    font-size: 1rem;
  }
}
